<div class="container mt-5">    
    <!--<div class="row">
        <div class="col">
            <img src="assets/img/background-1.jpg" class="img-fluid"/>
        </div>
        <div class="col">
            <h5>Центр настольного тенниса в Подольске</h5>
            Приглашаем вас погрузиться в атмосферу спорта и позитива. У нас вы освоите технику игры в настольный теннис с нуля всего за 3 занятия. А при регулярных тренировках станете настоящим профи. Наш девиз — заниматься нужно там, где нравится. Поэтому мы сделали наш клуб ярким и современным. Вся мебель новая. Оборудование топовое. Возле ресепшн — зона отдыха с кулером и удобными диванами. Приходите к нам всей семьей или большой компанией. Мы докажем вам, что настольный теннис — это увлекательная игра, которая развивает выносливость, помогает похудеть и заряжает энергией.
        </div>          
    </div>
    !-->
    <div class="d-flex justify-content-center flex-sm-wrap flex-lg-nowrap">
        <div >
            <img src="assets/img/background-1.jpg"/>  
        </div>
        <div class="ps-3">
            <h5>Центр настольного тенниса в Подольске</h5>
            <p>Приглашаем вас погрузиться в атмосферу спорта и позитива. У нас вы освоите технику игры в настольный теннис с нуля всего за 3 занятия. А при регулярных тренировках станете настоящим профи. Наш девиз — заниматься нужно там, где нравится. Поэтому мы сделали наш клуб ярким и современным. Вся мебель новая. Оборудование топовое. Возле ресепшн — зона отдыха с кулером и удобными диванами. Приходите к нам всей семьей или большой компанией. Мы докажем вам, что настольный теннис — это увлекательная игра, которая развивает выносливость, помогает похудеть и заряжает энергией.</p>
        </div>         
    </div>
    <div class="d-flex justify-content-between flex-sm-wrap flex-lg-nowrap mt-5">
        <div class="card mt-3" style="width: 24rem;">
            <img src="assets/img/all.jpg" class="card-img-top" alt="empty">
            <div class="card-body">
              <h5 class="card-title">Аренда столов</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink = "/rent" class="btn btn-primary">Забронировать</a>
            </div>
          </div>
          <div class="card mt-3" style="width: 24rem;">
            <img src="assets/img/t1.jpg" class="card-img-top" alt="empty">
            <div class="card-body">
              <h5 class="card-title">Персональные тренировки</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink = "/training" class="btn btn-primary">Записаться</a>
            </div>
          </div>
          <div class="card mt-3" style="width: 24rem;">
            <img src="assets/img/t2.jpg" class="card-img-top" alt="empty">
            <div class="card-body">
              <h5 class="card-title">Турниры</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink = '/tournament' routerLinkActive="active" class="btn btn-primary">Расписание</a>
            </div>
          </div>        
    </div>
</div>
